<div class="box_gr_tlt">
  <h2 class="box_gr_hd"><%= t(".measurements") %></h2>
  <h2 class="box_gr_hd"><%= t(".units_of_measurement") %></h2>
  <h2 class="box_gr_hd"><%= t(".dimensioning") %></h2>
</div>
<div class="box_gr_item">
  <div class="gr_item">
    <span><%= t(".pool_length") %></span>
  </div>
  <div class="gr_item measure">
    <span>m</span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :pool_length, "#{project ? project.room_calculation_input.pool_length.round(2) : 0}", id: "ows-pool-length", autocomplete: "off" %>
  </div>
</div>
<div class="box_gr_item">
  <div class="gr_item">
    <span><%= t(".pool_width") %></span>
  </div>
  <div class="gr_item measure">
    <span>m</span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :pool_width, "#{project ? project.room_calculation_input.pool_width.round(2) : 0}", id: "ows-pool-width", autocomplete: "off" %>
  </div>
</div>
<div class="box_gr_item">
  <div class="gr_item">
    <span><%= t(".pool_surface") %></span>
  </div>
  <div class="gr_item measure">
    <span>m<sup>2</sup></span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :pool_surface, "#{project ? project.room_calculation_input.pool_surface.round(2) : 0}", id: "ows-pool-surface", readonly: true %>
  </div>
</div>
<div class="box_gr_item">
  <div class="gr_item">
    <span><%= t(".water_temperature") %></span>
  </div>
  <div class="gr_item measure">
    <span><sup>o</sup>C</span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :water_temperature, "#{project ? project.room_calculation_input.water_temperature.round(2) : 20}", id: "ows-water-temperature", autocomplete: "off" %>
  </div>
</div>
<div class="box_gr_item guideline">
  <div class="gr_item">
    <span><%= t(".vaporization_coefficient") %></span><br>
    <span class="guideline-section">
      <%= t ".vaporization_coefficient_guideline" %>
    </span>
  </div>
  <div class="gr_item measure">
    <span></span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :vaporization_coefficient, "#{project ? project.room_calculation_input.vaporization_coefficient.round(2) : 7}", id: "ows-vaporization-coefficient", autocomplete: "off" %>
  </div>
</div>
<div class="box_gr_item">
  <div class="gr_item">
    <span><%= t(".total_water_surface") %></span>
  </div>
  <div class="gr_item measure">
    <span>kg/h</span>
  </div>
  <div class="gr_item">
    <%= text_field_tag :total_load_from_water_surface, "#{project ? project.room_calculation_input.total_load_from_water_surface.round(2) : 0}", id: "ows-total-water-surface", readonly: true %>
  </div>
</div>
