<tr data-unit-selection-input-id="<%= result.unit_selection_input.id %>" data-unit-selection-result-id="<%= result.id %>">
  <td>
    <label class="container-checkbox">
      <input type="checkbox" name="check[]" value="<%= result.id %>" class="checkbox  choosen-result-cb">
      <span class="checkmark checkmark-unit-selection" id="span_check_<%= result.id %>" data-id="span_result_<%= result.id %>"></span>
    </label>
  </td>
  <td><%= result.unit_selection_input.m_category.name %></td>
  <td><%= result.unit_selection_input.m_unit.name %></td>
  <td><%= result.b_tp2 %></td>
  <td><%= result.b_xp2 %></td>
  <td><%= result.b_mr %></td>
  <td><%= result.rotation %></td>
  <td><%= result.diameter %></td>
  <td><%= result.depth %></td>
  <td><%= result.a_tp1 %></td>
  <td><%= result.a_xp1 %></td>
  <td><%= result.a_fp %></td>
  <td><%= result.a_vp %></td>
  <td><%= result.f_tr1 %></td>
  <td><%= result.f_xr1 %></td>
  <td><%= result.f_fr %></td>
  <td><%= result.f_vr %></td>
  <td><%= result.d_tpu2 %></td>
  <td><%= result.g_tr2 %></td>
  <td><%= result.g_xr2 %></td>
  <td><%= result.hp %></td>
  <td><%= result.pp %></td>
  <td><%= result.pr %></td>
  <td><%= result.ppu %></td>
  <td><%= result.margin %></td>
  <td><%= result.h %></td>
  <td><%= result.i %></td>
  <td><%= result.j %></td>
  <td><%= result.k %></td>
  <td><%= result.l %></td>
  <td><%= result.m %></td>
  <td><%= result.status %></td>
  <td><%= result.smo_xp2 %></td>
</tr>
