<div class="tab-pane fade input-tab-wrap" id="tabs_e_regen_air_inlet" role="tabpanel" aria-labelledby="tabs_ct2">
  <div class="box_gr_tlt">
    <h2 class="box_gr_hd"><%= t(".measurements") %></h2>
    <h2 class="box_gr_hd"><%= t(".units_of_measurement") %></h2>
    <h2 class="box_gr_hd"><%= t(".dimensioning") %></h2>
  </div>

  <div class="box_gr_item">
    <div class="gr_item gr_item_cb custom-control custom-checkbox">
      <%= check_box_tag :checkbox19, 1, true, class: "custom-control-input" %>
      <label class="custom-control-label" for="checkbox19">E=A</label>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span></span>
    </div>
    <div class="gr_item">
      <span>FDB</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox48 %>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>XOA</span>
    </div>
    <div class="gr_item">
      <span>gr/lb</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox47 %>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span></span>
    </div>
    <div class="gr_item">
      <span>%RH</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox103, "", disabled: true %>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>FOA</span>
    </div>
    <div class="gr_item">
      <span>CFM</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox83 %>
    </div>
  </div>
</div>
