<div class="calculation_img consorb_1_3_w">
  <div class="abg_it">
    <div class="abg_item bg_cl_g">
      <h2 class="abg_tlt">G. Wet Air Outlet</h2>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>TR2</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox25"></span>
          <span>FDB</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>XR2</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox24"></span>
          <span>gr/lb</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="" class="inp_table_gr" disabled="" data-id="textbox75"></span>
          <span>%RH</span>
        </div>
      </div>

      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>   </span>
          <span><input value="" class="inp_table_gr" disabled="" data-id="textbox74"></span>
          <span><sup>o</sup>CDP</span>
        </div>
      </div>

    </div>
    <div class="abg_item bg_cl_f">
      <h2 class="abg_tlt">F. Regen Air</h2>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>TR1</span>
          <span><input value="82" class="inp_table_gr" data-id="textbox34"></span>
          <span>FDB</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>XR1</span>
          <span><input value="8.7" class="inp_table_gr" data-id="textbox33"></span>
          <span>gr/lb</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="2.7" class="inp_table_gr" disabled="" data-id="textbox45"></span>
          <span>%RH</span>
        </div>
      </div>
      <div class="abg_group_inp d-none">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="2.7" class="inp_table_gr" disabled="" data-id="textbox46"></span>
          <span></span>
        </div>
      </div>
      <div class="mt-27">

      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span></span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>FR</span>
          <span><input value="40.0" class="inp_table_gr" disabled="" data-id="textbox32"></span>
          <span>CFM</span>
        </div>
      </div>
      <div class="abg_group_inp d-none">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="40.0" class="inp_table_gr" disabled="" data-id="textbox90"></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="abg_item bg_none">
      <div class="abg_item_sm bg_cl_h">
        <h2 class="abg_tlt">Heater</h2>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>HP</span>
            <span><input value="0.65" class="inp_table_gr" data-id="textbox49"></span>
            <span>BTU/h</span>
          </div>
        </div>
      </div>
      <div class="abg_item_sm bg_cl_a">
        <h2 class="abg_tlt">E.Regen Air Inlet</h2>
        <div class="row mb-1">
          <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="checkbox19b" data-id="checkbox19">
              <label class="custom-control-label" for="checkbox19">E=A</label>
            </div>
          </div>
        </div>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span></span>
            <span><input value="20.0" class="inp_table_gr" data-id="textbox48"></span>
            <span>FDB</span>
          </div>
        </div>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>XOA</span>
            <span><input value="8.7" class="inp_table_gr" data-id="textbox47"></span>
            <span>gr/lb</span>
          </div>
        </div>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span></span>
            <span><input value="8.7" class="inp_table_gr" data-id="textbox103" disabled></span>
            <span>%RH</span>
          </div>
        </div>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>FOA</span>
            <span><input value="30" class="inp_table_gr" data-id="textbox83"></span>
            <span>CFM</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="calculation_img_w">
    <%= image_tag "1_3.png", alt: "", data: {toggle: "modal", target: "#modal_cal"}, class: "img_dekstop_pu" %>
    <%= image_tag "1_3_mb.png", alt: "", data: {toggle: "modal", target: "#modal_cal"}, class: "img_mobile_pu" %>
    <ul class="nav nav_consorb_1_3 nav_scrollpy_all" role="tablist" id="sections_link">
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" data-click-id="#tabs_a_process_air_inlet" href="#pills-home" role="tab">A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" data-click-id="#tabs_b_dry_air_outlet" href="#pills-contact" role="tab">B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" data-click-id="#tabs_e_regen_air_inlet" href="#pills-contact" role="tab">E</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" data-click-id="#tabs_f_regen_air" href="#pills-contact" role="tab">F</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" data-click-id="#tabs_g_wet_air_outlet" href="#pills-contact" role="tab">G</a>
      </li>
      <li class="nav-item hidden_pt">
        <a class="nav-link" href="javascript:void(0)"><span><%= unit_selection_calculation.instance_variable_get "@textbox69" %></span><span>%</span></a>
      </li>
      <li class="nav-item hidden_pt">
        <a class="nav-link" href="javascript:void(0)"><span><%= unit_selection_calculation.instance_variable_get "@textbox68" %></span><span>%</span></a>
      </li>
    </ul>
    <%= render "unit_selections/unit_selection_search_box" %>
  </div>
  <div class="abg_it">
    <div class="abg_item bg_cl_a">
      <h2 class="abg_tlt">A. Process Air Inlet</h2>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>TP1</span>
          <span><input value="20.0" class="inp_table_gr" data-id="textbox31"></span>
          <span>FDB</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>XP1</span>
          <span><input value="8.7" class="inp_table_gr" data-id="textbox30"></span>
          <span>gr/lb</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="59.8" class="inp_table_gr" disabled="" data-id="textbox41"></span>
          <span>%RH</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>   </span>
          <span><input value="12.0" class="inp_table_gr" disabled="" data-id="textbox42"></span>
          <span><sup>o</sup>CDP</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>FP</span>
          <span><input value="120" class="inp_table_gr" data-id="textbox29"></span>
          <span>CFM</span>
        </div>
      </div>

      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="120" class="inp_table_gr" data-id="textbox89"></span>
          <span>SFM</span>
        </div>
      </div>

    </div>

    <div class="abg_item height_above_pressure_drop_box">
      <div class="bg_cl_height_above">
        <h2 class="abg_tlt">Height Above Sea Level</h2>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>P</span>
            <span><input value="-" class="inp_table_gr" data-id="textbox77"></span>
            <span>m</span>
          </div>
        </div>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span class="text-center">(<span data-id="label139">1013</span></span>
            <span>mbar)</span>
          </div>
        </div>
      </div>

      <div class="bg_cl_pressure_drop">
        <h2 class="abg_tlt">Pressure Drop</h2>
        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>PP</span>
            <span><input value="-" class="inp_table_gr" data-id="textbox54"></span>
            <span>in.wc</span>
          </div>
        </div>

        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>PR</span>
            <span><input value="-" class="inp_table_gr" data-id="textbox53"></span>
            <span>in.wc</span>
          </div>
        </div>

        <div class="abg_group_inp">
          <div class="d-flex align-items-center">
            <span>PPu</span>
            <span><input value="-" class="inp_table_gr" data-id="textbox72"></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>

    <div class="abg_item bg_cl_b">
      <h2 class="abg_tlt">B. Dry Air Outlet</h2>
      <div class="abg_group_inp d-none">
        <div class="d-flex align-items-center">
          <span></span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox62"></span>
          <span></span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>TP2</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox37"></span>
          <span>FDB</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>XP2</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox36"></span>
          <span>gr/lb</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>   </span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox43"></span>
          <span>%RH</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>   </span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox44"></span>
          <span><sup>o</sup>CDP</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>FR</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox84"></span>
          <span>CFM</span>
        </div>
      </div>
      <div class="abg_group_inp">
        <div class="d-flex align-items-center">
          <span>MR</span>
          <span><input value="-" class="inp_table_gr" disabled="" data-id="textbox51"></span>
          <span>lb/h</span>
        </div>
      </div>
    </div>
  </div>
</div>
