<div class="tab-pane fade input-tab-wrap" id="tabs_pressure_drop" role="tabpanel" aria-labelledby="tabs_ct2">
  <div class="box_gr_tlt">
    <h2 class="box_gr_hd"><%= t(".measurements") %></h2>
    <h2 class="box_gr_hd"><%= t(".units_of_measurement") %></h2>
    <h2 class="box_gr_hd"><%= t(".dimensioning") %></h2>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>PP</span>
    </div>
    <div class="gr_item">
      <span>Pa</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox55 %>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>PR</span>
    </div>
    <div class="gr_item">
      <span>Pa</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox56 %>
    </div>
  </div>

  <div class="box_gr_item">
    <div class="gr_item">
      <span>PPu</span>
    </div>
    <div class="gr_item">
      <span>Pa</span>
    </div>
    <div class="gr_item">
      <%= text_field_tag :textbox73 %>
    </div>
  </div>
</div>