<div class="modal fade modal_reg modal_rs" id="modal_rs" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <h3><%= t ".reset_password_confirm_message" %></h3>
        </div>
        <div class="d-flex justify-content-between fs-18">
          <strong class="mw_120 mr-1"><%= t ".agency_name" %></strong>
          <span id="agency-name" class="text-right text-break"></span>
        </div>
        <div class="d-flex justify-content-between fs-18">
          <strong class="mw_120 mr-1"><%= t ".agency_email" %></strong>
          <span id="email-address" class="text-right text-break"></span>
        </div>
        <div class="text-center mt-4">
          <%= link_to t(".ok"), "javascript:void(0)", class: "btn-ok btn_primary btn-lg",
            data: {dismiss: "modal"}, method: :put, remote: true %>
          <%= link_to t(".cancel"), "", class: "btn_secondary btn-lg", data: {dismiss: "modal"} %>
        </div>
      </div>
    </div>
  </div>
</div>
